/*
piecharts.css

Programmeerproject
Minor Programmeren (UvA)
Author: Christoffel Doorman
Student number: 10580557

This file contains all style attributes for the piecharts visualisations.
*/


/* PIECHARTS */
#container3 {
	height: 500px;
	width: 100%;
}

#container4 {
	height: 500px;
	width:100%;
}

.piechart {
	font: Sans-serif;
	font-size: 16px;
	top: 100px;
}

.pieTitle {
	fill: black;
}
