/* WORLDMAP */
#container1 {
	height: 500px;
	position: relative;
	width: 100%;
	/*z-index: -1;*/
}

/* SLIDER */
.slidecontainer {
    width: 30%;
}

.slider:hover {
    opacity: 1;
}

#slider.well {
	width: 40%;
}
/* LINECHART */

/* PIECHARTS */
#container3 {
	width: 100%;
}

#container4 {
	width:100%;
}
